stages:
  - build-arduino
  - lint-python

build_arduino:
  stage: build-arduino
  tags:
    - Compile
  script:
    - apt-get update && apt-get install -y python3 python3-venv python3-pip git
    - python3 -m venv venv
    - source venv/bin/activate
    - pip install pyinstaller
    - pip install platformio
    - cd arduino
    - pio run

check_python:
  stage: lint-python
  tags:
    - Compile
  script:
    - cd raspi
    - python3 -m py_compile main.py

