image: python:3.11-slim

stages:
  - check-python
  - build-arduino

before_script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install platformio

check_python:
  stage: check-python
  script:
    - echo "Checking Python syntax..."
    - python -m py_compile main-bot/raspi/*.py

build_arduino:
  stage: build-arduino
  script:
    - echo "Building Arduino code with PlatformIO..."
    - cd main-bot/arduino
    - pio run
  artifacts:
    paths:
      - main-bot/arduino/.pio/build

