image: python:3.11-slim


stages:
  - check-python
  - build-promicro
  - build-pico

before_script:
  - apt-get update && apt-get install -y git
  - python -m venv venv
  - source venv/bin/activate
  - pip install platformio

check-python:
  stage: check-python
  tags:
  - Compile
  script:
    - echo "Checking Python syntax..."
    - ls -alh
    - find raspi/ -name "*.py" -exec python3 -m py_compile {} +

build-promicro:
  stage: build-promicro
  tags:
  - Compile
  script:
    - echo "Building Promicro code with PlatformIO..."
    - cd pro_micro
    - pio run
  artifacts:
    paths:
      - pro_micro/.pio/build
  variables:
    GIT_SUBMODULE_STRATEGY: recursive

build-pico:
  stage: build-pico
  tags:
  - Compile
  script:
    - echo "Building Pico code with PlatformIO..."
    - cd pico
    - pio run
  artifacts:
    paths:
      - pico/.pio/build
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
