stages:
  - build-arduino
  - lint-python

build_arduino:
  stage: build-arduino
  tags:
    - Compile
  script:
    - cd arduino
    - sudo apt install python3 python3-pip
    - pip3 install platformio
    - pio run

check_python:
  stage: lint-python
  tags:
    - Compile
  script:
    - cd raspi
    - python3 -m py_compile main.py

