image: python:3.11-slim


stages:
  - check-python
  - build-arduino
  - build-pico

before_script:
  - apt-get update && apt-get install -y git
  - python -m venv venv
  - source venv/bin/activate
  - pip install platformio

check-python:
  stage: check-python
  tags:
  - Compile
  script:
    - echo "Checking Python syntax..."
    - ls -alh
    - find raspi/ -name "*.py" -exec python3 -m py_compile {} +

build-arduino:
  stage: build-arduino
  tags:
  - Compile
  script:
    - echo "Building Arduino code with PlatformIO..."
    - cd arduino
    - pio run
  artifacts:
    paths:
      - arduino/.pio/build

build-pico:
  stage: build-pico
  tags:
  - Compile
  script:
    - echo "Building Pico code with PlatformIO..."
    - cd pico
    - pio run
  artifacts:
    paths:
      - pico/.pio/build

