image: python:3.11-slim

stages:
  - check-python
  - build-arduino

before_script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install platformio

check_python:
  stage: check-python
  tags:
  - Compile
  script:
    - echo "Checking Python syntax..."
    - ls -alh
    - python -m py_compile raspi/*.py

build_arduino:
  stage: build-
  tags:
  - Compile
  script:
    - echo "Building Arduino code with PlatformIO..."
    - cd arduino
    - pio run
  artifacts:
    paths:
      - arduino/.pio/build

